<header class="motion">
    <h1><a href="#" class="blind">sgmedical</a></h1>
    <nav>
        <ul class="menu">
            <li><a href="#">About us</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">R&amp;D</a></li>
            <li><a href="#">IR</a></li>
            <li><a href="#">PR</a></li>
            <li><a href="#">Careers</a></li>
        </ul>
        <ul class="sub-menu">
            <li><a href="#">Covid 19 Solution</a></li>
            <li><a href="#">KOR</a></li>
        </ul>
    </nav>
</header>